.nodered/flows_localhost.localdomain.json
[{"id":"18c93566.37275b","type":"tab","label":"Publish_to_kafka"},{"id":"9760d80f.71ecd8","type":"tab","label":"Subscribe_to_kafka"},{"id":"4ac4c227.82c8cc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fa53f759.fe6c88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"48c1ceba.3b1da","type":"http in","z":"18c93566.37275b","name":"Post Events","url":"/Events","method":"post","swaggerDoc":"","x":204.5,"y":178,"wires":[["6c7e061b.d6ac78","53024c5f.8559b4"]]},{"id":"fa9fbf44.27938","type":"kafka","z":"18c93566.37275b","zkquorum":"localhost:2181","topics":"test","debug":true,"x":548.5,"y":97,"wires":[]},{"id":"617f5963.76a2c8","type":"debug","z":"18c93566.37275b","name":"request log","active":true,"console":"false","complete":"payload","x":491.5,"y":269,"wires":[]},{"id":"e5e3a582.00c988","type":"http response","z":"18c93566.37275b","name":"","x":556.5,"y":477,"wires":[]},{"id":"6c7e061b.d6ac78","type":"function","z":"18c93566.37275b","name":"response_body","func":"msg.payload = {\n    \"success\" : 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":299.5,"y":342,"wires":[["e5e3a582.00c988","38d13164.bf41ce"]]},{"id":"38d13164.bf41ce","type":"debug","z":"18c93566.37275b","name":"response log","active":true,"console":"false","complete":"payload","x":597.5,"y":357,"wires":[]},{"id":"53024c5f.8559b4","type":"json","z":"18c93566.37275b","name":"request_body","x":393.5,"y":132,"wires":[["fa9fbf44.27938","617f5963.76a2c8"]]},{"id":"22094779.d8e2a8","type":"kafka in","z":"9760d80f.71ecd8","zkquorum":"localhost:2181","topics":"test","groupId":"0","debug":true,"autoCommit":true,"x":171.5,"y":135,"wires":[["ac8e637b.96177"]]},{"id":"ac8e637b.96177","type":"debug","z":"9760d80f.71ecd8","name":"","active":true,"console":"false","complete":"false","x":613.5,"y":155,"wires":[]}]