.nodered/flows_localhost.localdomain.json
[{"id":"18c93566.37275b","type":"tab","label":"Publish_to_kafka"},{"id":"9760d80f.71ecd8","type":"tab","label":"Subscribe_to_kafka"},{"id":"f78b5463.4fc1a8","type":"tab","label":"Orchestration - Synchronous  call"},{"id":"4ac4c227.82c8cc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fa53f759.fe6c88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"48c1ceba.3b1da","type":"http in","z":"18c93566.37275b","name":"Post Events","url":"/Events","method":"post","swaggerDoc":"","x":120.5,"y":164,"wires":[["6c7e061b.d6ac78","53024c5f.8559b4"]]},{"id":"fa9fbf44.27938","type":"kafka","z":"18c93566.37275b","zkquorum":"localhost:2181","topics":"test","debug":true,"x":548.5,"y":97,"wires":[]},{"id":"617f5963.76a2c8","type":"debug","z":"18c93566.37275b","name":"request log","active":false,"console":"false","complete":"payload","x":491.5,"y":269,"wires":[]},{"id":"e5e3a582.00c988","type":"http response","z":"18c93566.37275b","name":"","x":556.5,"y":477,"wires":[]},{"id":"6c7e061b.d6ac78","type":"function","z":"18c93566.37275b","name":"response_body","func":"msg.payload = {\n    \"success\" : 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":299.5,"y":342,"wires":[["e5e3a582.00c988","38d13164.bf41ce"]]},{"id":"38d13164.bf41ce","type":"debug","z":"18c93566.37275b","name":"response log","active":false,"console":"false","complete":"payload","x":597.5,"y":357,"wires":[]},{"id":"53024c5f.8559b4","type":"json","z":"18c93566.37275b","name":"request_body","x":310.49998474121094,"y":85,"wires":[["fa9fbf44.27938","617f5963.76a2c8"]]},{"id":"22094779.d8e2a8","type":"kafka in","z":"9760d80f.71ecd8","zkquorum":"localhost:2181","topics":"test","groupId":"0","debug":true,"autoCommit":true,"x":186.5,"y":154,"wires":[["ac8e637b.96177"]]},{"id":"ac8e637b.96177","type":"debug","z":"9760d80f.71ecd8","name":"","active":true,"console":"false","complete":"payload","x":431.49998474121094,"y":195,"wires":[]},{"id":"4ebdf9cc.85e328","type":"inject","z":"f78b5463.4fc1a8","name":"payload ","topic":"cust","payload":"{ \t\"firstName\": \"Rohitash\", \t\"lastName\": \"Tulyani\", \t\"accountType\": \"Personal\", \t\"iamType\": \"Customer\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":87.5,"y":121,"wires":[["82fa1680.0450a8","89649b1.a3d4568"]]},{"id":"9a374e8a.cceed","type":"http request","z":"f78b5463.4fc1a8","name":"customer api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Customers","tls":"","x":751.4999847412109,"y":34,"wires":[["604fac92.a39604"]]},{"id":"c44f58f0.bacd88","type":"http request","z":"f78b5463.4fc1a8","name":"account api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Accounts","tls":"","x":985.9999847412109,"y":260,"wires":[["688d4f3e.d0e41"]]},{"id":"89649b1.a3d4568","type":"join","z":"f78b5463.4fc1a8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","timeout":"","count":"2","x":95.5,"y":291,"wires":[["f9743e7.0978cc","c7d3d715.79fe78"]]},{"id":"441dc9ff.508a58","type":"debug","z":"f78b5463.4fc1a8","name":"getAccountDetailsDebug","active":false,"console":"true","complete":"payload","x":974.0000038146973,"y":183,"wires":[]},{"id":"502be1cf.ddfec","type":"function","z":"f78b5463.4fc1a8","name":"getAccountPayload","func":"var msg1 = {};\nmsg1.payload = msg.payload;\nreturn msg1;\n","outputs":1,"noerr":0,"x":769.5000076293945,"y":260,"wires":[["c44f58f0.bacd88"]]},{"id":"4ac900de.de12b","type":"function","z":"f78b5463.4fc1a8","name":"getIamDetails","func":"msg.payload.iamNumber = \"12345\";\nvar msg1 = {};\nmsg1.payload = msg.payload;\ndelete msg1.payload.id;\nreturn msg1;","outputs":1,"noerr":0,"x":824.0000228881836,"y":404,"wires":[["2db43817.64ea68"]]},{"id":"2db43817.64ea68","type":"http request","z":"f78b5463.4fc1a8","name":"iam api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Iams","tls":"","x":1012,"y":404,"wires":[["eab36274.e8bdf"]]},{"id":"f7469c4c.1bec8","type":"join","z":"f78b5463.4fc1a8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","timeout":"","count":"2","x":103,"y":612,"wires":[["3fe80aee.ed3bc6"]]},{"id":"3fe80aee.ed3bc6","type":"debug","z":"f78b5463.4fc1a8","name":"second Join debug","active":true,"console":"true","complete":"payload","x":372.99998474121094,"y":610,"wires":[]},{"id":"604fac92.a39604","type":"switch","z":"f78b5463.4fc1a8","name":"response handler","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":706.4999847412109,"y":109,"wires":[["ae0441c1.fa4b7"],["a44102bf.5d84f","89649b1.a3d4568"]]},{"id":"ae0441c1.fa4b7","type":"debug","z":"f78b5463.4fc1a8","name":"error in customer api","active":true,"console":"true","complete":"payload","x":960.9999847412109,"y":79,"wires":[]},{"id":"a44102bf.5d84f","type":"debug","z":"f78b5463.4fc1a8","name":"no error Customer Api","active":false,"console":"true","complete":"payload","x":971,"y":129,"wires":[]},{"id":"82fa1680.0450a8","type":"template","z":"f78b5463.4fc1a8","name":"customer outgoing template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"firstName\" : \"{{payload.firstName}}\",\n    \"lastName\"  : \"{{payload.lastName}}\",\n    \"fullName\"  : \"{{payload.firstName}} {{payload.lastName}}\"\n}","x":309.5,"y":34,"wires":[["b3ba0c6d.d0f13"]]},{"id":"b3ba0c6d.d0f13","type":"json","z":"f78b5463.4fc1a8","name":"json translator","x":551.4999542236328,"y":34,"wires":[["9a374e8a.cceed"]]},{"id":"c7d3d715.79fe78","type":"template","z":"f78b5463.4fc1a8","name":"account outgoing template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"accountHolderName\" : \"{{payload.fullName}}\",\n    \"accountType\" : \"{{payload.accountType}}\",\n    \"accountNumber\" : \"12345\"\n}","x":308.9999694824219,"y":263,"wires":[["4c82ac70.745ae4"]]},{"id":"4c82ac70.745ae4","type":"json","z":"f78b5463.4fc1a8","name":"json translator","x":540.9999847412109,"y":263,"wires":[["441dc9ff.508a58","502be1cf.ddfec"]]},{"id":"688d4f3e.d0e41","type":"switch","z":"f78b5463.4fc1a8","name":"response handler","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":727,"y":334,"wires":[["838486c8.b4a918"],["96098cf6.0fbbd","f7469c4c.1bec8"]]},{"id":"838486c8.b4a918","type":"debug","z":"f78b5463.4fc1a8","name":"error in account api","active":true,"console":"false","complete":"payload","x":972,"y":310,"wires":[]},{"id":"96098cf6.0fbbd","type":"debug","z":"f78b5463.4fc1a8","name":"no error account api","active":false,"console":"false","complete":"payload","x":970,"y":356,"wires":[]},{"id":"f9743e7.0978cc","type":"template","z":"f78b5463.4fc1a8","name":"account outgoing template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"iamHolderName\" : \"{{payload.fullName}}\",\n    \"iamType\" : \"{{payload.iamType}}\",\n    \"iamNumber\" : \"12345\"\n}","x":306.9999694824219,"y":404,"wires":[["beaf2267.66279"]]},{"id":"beaf2267.66279","type":"json","z":"f78b5463.4fc1a8","name":"json translator","x":592.0000228881836,"y":404,"wires":[["4ac900de.de12b"]]},{"id":"eab36274.e8bdf","type":"switch","z":"f78b5463.4fc1a8","name":"response handler","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":724.0000152587891,"y":494,"wires":[["a297dd0.e0ec52"],["32b48033.89dab","f7469c4c.1bec8"]]},{"id":"a297dd0.e0ec52","type":"debug","z":"f78b5463.4fc1a8","name":"error in iam api","active":true,"console":"false","complete":"payload","x":954.0000152587891,"y":463,"wires":[]},{"id":"32b48033.89dab","type":"debug","z":"f78b5463.4fc1a8","name":"no error iam api","active":false,"console":"false","complete":"payload","x":954.0000152587891,"y":520,"wires":[]},{"id":"f52bb1a2.b13fd","type":"catch","z":"f78b5463.4fc1a8","name":"","scope":null,"x":647.3238525390625,"y":720.4289855957031,"wires":[["c3143c08.420a1"]]},{"id":"c3143c08.420a1","type":"debug","z":"f78b5463.4fc1a8","name":"","active":true,"console":"false","complete":"error","x":896.3267024016579,"y":721.1846345633517,"wires":[]}]